PORT=4000
FRONTEND_ORIGIN=https://aashishsharma436.github.io
CONSULTANT_EMAIL=iaastrophilee@gmail.com

INFISICAL_SITE_URL=https://app.infisical.com
INFISICAL_CLIENT_ID=YOUR_MACHINE_IDENTITY_CLIENT_ID
INFISICAL_CLIENT_SECRET=YOUR_MACHINE_IDENTITY_CLIENT_SECRET
INFISICAL_PROJECT_ID=YOUR_PROJECT_ID
INFISICAL_ENVIRONMENT=prod
INFISICAL_SECRET_PATH=/astro-email

GOOGLE_APPS_SCRIPT_URL=YOUR_GOOGLE_APPS_SCRIPT_WEB_APP_URL
GOOGLE_APPS_SCRIPT_TOKEN=YOUR_WEBHOOK_TOKEN
